body
  background-color: #FF3300

#loginout
  float: right

#user
  #dashboard
    input#username
      width: 800px
      border: 1px solid #BBBBBB
      font-size: 20pt
      padding: 8px
  #avatar
    img
      background-color: white
      padding: 3px
    
h1.green
  margin-bottom: 0.2em
  font-size: 40px
  color: #5D9E1B
h2
  font-size: 22px
  margin-bottom: 0.2em


#user
  #show
    .word_field
      width: 150px
      height: 20px
      font-size: 15px
    #user_note
      width: 350px
      height: 80px
      