#user
  #dashboard
    input#username
      width: 800px
      border: 1px solid #BBBBBB
      font-size: 20pt
      padding: 8px
      
h1.green
  margin-bottom: 0.2em
  font-size: 40px
  color: #5D9E1B
h2
  font-size: 22px
  margin-bottom: 0.2em