/* line 3, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard span.no_words {
  font-size: 25px;
  line-height: 28px;
}
/* line 6, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard span.comparte {
  font-size: 20px;
}
/* line 8, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard ul {
  font-size: 20px;
  margin-bottom: 0px;
}
/* line 11, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard a#btn_share_on_facebook {
  padding: 5px 0px 0px 29px;
  height: 24px;
  background: url("/images/icon_share_on_facebook.png") left center no-repeat;
  margin-left: 44px;
  display: block;
}
/* line 18, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard #bottom_section {
  background: #ff3300 url("/images/dashboard_content_section_bottom.png") top center no-repeat;
}
/* line 20, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard #top_section {
  background: #ff3300 url("/images/dashboard_content_section_top.png") top center no-repeat;
  height: 160px;
}
/* line 23, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard #top_section #share_link_field {
  float: left;
  width: 800px;
}
/* line 26, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard #top_section #avatar {
  float: right;
  margin-right: 10px;
}
/* line 29, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard .content {
  padding: 20px 20px 0px 20px;
}
/* line 30, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard .content p#share_link {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 35, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard input#username {
  width: 720px;
  border: 1px solid #bbbbbb;
  font-size: 20pt;
  padding: 8px;
}
/* line 41, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard #avatar img {
  background-color: white;
  padding: 3px;
}
/* line 44, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard #main_section {
  background: #ff3300 url("/images/dashboard_content_section_main.png") top center repeat-y;
}
/* line 46, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard #main_section .content {
  padding-top: 0px;
}
/* line 48, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard #main_section #main_content, #user #dashboard #main_section #sidebar {
  float: left;
}
/* line 50, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard #main_section #main_content {
  width: 640px;
}
/* line 52, ../../../app/stylesheets/own/dashboard.sass */
#user #dashboard #main_section #sidebar {
  width: 258px;
  text-align: center;
}
