/* line 1, ../../../app/stylesheets/own/own.sass */
body {
  background: #ff3300 url("/images/body_background.jpg") top center no-repeat;
}

/* line 5, ../../../app/stylesheets/own/own.sass */
#loginout {
  float: right;
}

/* line 8, ../../../app/stylesheets/own/own.sass */
h1.green {
  margin-bottom: 0.2em;
  font-size: 40px;
  color: #5d9e1b;
}

/* line 12, ../../../app/stylesheets/own/own.sass */
h2 {
  font-size: 22px;
  margin-bottom: 0.2em;
}

/* line 19, ../../../app/stylesheets/own/own.sass */
#user #show .word_field {
  width: 150px;
  height: 20px;
  font-size: 15px;
}
/* line 23, ../../../app/stylesheets/own/own.sass */
#user #show #user_note {
  width: 350px;
  height: 80px;
}
