/* line 1, ../../../app/stylesheets/own/sign_in.sass */
#flash_alert_in_form {
  color: red;
}

/* line 5, ../../../app/stylesheets/own/sign_in.sass */
img.facebook_login {
  border: solid 3px white;
}

/* line 9, ../../../app/stylesheets/own/sign_in.sass */
#sign_in #logo {
  padding-top: 30px;
}
/* line 11, ../../../app/stylesheets/own/sign_in.sass */
#sign_in h1 {
  font-size: 40px;
}
