/* line 3, ../../../app/stylesheets/own/word_set.sass */
#user #dashboard #top_words {
  color: #ff6600;
  margin-top: 30px;
}

/* line 9, ../../../app/stylesheets/own/word_set.sass */
#user #show .words {
  width: 700px;
  padding-top: 2px;
}
/* line 13, ../../../app/stylesheets/own/word_set.sass */
#user #show .comment {
  color: #999999;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
}

/* line 24, ../../../app/stylesheets/own/word_set.sass */
#word_sets p.who, #your_friends p.who {
  font-size: 13px;
  line-height: 12px;
  color: #999999;
  padding-left: 1px;
  padding-bottom: 4px;
}
/* line 30, ../../../app/stylesheets/own/word_set.sass */
#word_sets p, #your_friends p {
  margin: 0;
  color: black;
  line-height: 21px;
  font-size: 19px;
  font-weight: bold;
}
/* line 36, ../../../app/stylesheets/own/word_set.sass */
#word_sets p.time_ago, #your_friends p.time_ago {
  color: #999999;
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
}
/* line 41, ../../../app/stylesheets/own/word_set.sass */
#word_sets a, #your_friends a {
  color: #3399ff;
  text-decoration: none;
}

/* line 45, ../../../app/stylesheets/own/word_set.sass */
#word_sets, #your_friends {
  margin-top: 0px;
  margin-left: 20px;
}
/* line 48, ../../../app/stylesheets/own/word_set.sass */
#word_sets .divider, #your_friends .divider {
  height: 1px;
  border-bottom: 1px solid #ffcc67;
  line-height: 0px;
  margin-bottom: 7px;
}
/* line 53, ../../../app/stylesheets/own/word_set.sass */
#word_sets .divider.last, #your_friends .divider.last {
  display: none;
}
/* line 55, ../../../app/stylesheets/own/word_set.sass */
#word_sets .word_set, #word_sets .friend, #your_friends .word_set, #your_friends .friend {
  min-height: 60px;
}
/* line 57, ../../../app/stylesheets/own/word_set.sass */
#word_sets .word_set .thumb_avatar, #word_sets .word_set .words, #word_sets .word_set .actions, #word_sets .friend .thumb_avatar, #word_sets .friend .words, #word_sets .friend .actions, #your_friends .word_set .thumb_avatar, #your_friends .word_set .words, #your_friends .word_set .actions, #your_friends .friend .thumb_avatar, #your_friends .friend .words, #your_friends .friend .actions {
  float: left;
}
/* line 59, ../../../app/stylesheets/own/word_set.sass */
#word_sets .word_set .thumb_avatar, #word_sets .friend .thumb_avatar, #your_friends .word_set .thumb_avatar, #your_friends .friend .thumb_avatar {
  margin-right: 10px;
}
/* line 61, ../../../app/stylesheets/own/word_set.sass */
#word_sets .word_set .words, #word_sets .friend .words, #your_friends .word_set .words, #your_friends .friend .words {
  width: 480px;
}
/* line 63, ../../../app/stylesheets/own/word_set.sass */
#word_sets .word_set .words span.normal, #word_sets .friend .words span.normal, #your_friends .word_set .words span.normal, #your_friends .friend .words span.normal {
  font-weight: normal;
  color: #666666;
}
/* line 66, ../../../app/stylesheets/own/word_set.sass */
#word_sets .actions, #your_friends .actions {
  margin-top: 10px;
  width: 70px;
}
/* line 68, ../../../app/stylesheets/own/word_set.sass */
#word_sets .actions form, #word_sets .actions a, #your_friends .actions form, #your_friends .actions a {
  float: left;
}
/* line 71, ../../../app/stylesheets/own/word_set.sass */
#word_sets .actions form, #your_friends .actions form {
  height: 25px;
}
/* line 73, ../../../app/stylesheets/own/word_set.sass */
#word_sets .actions input, #your_friends .actions input {
  margin-left: 10px;
  background: url("/images/icon_trash.png") left center no-repeat;
  border: 0;
  height: 25px;
  width: 25px;
  cursor: hand;
}
