="hola #{@user.display_name}"
%br
%br
¡bienvenido a 5palabritas.com!
%br
%br
Tu solicitud de registro se ha realizado con éxito. ya puedes compartir el enlace y saber lo que tus amigos piensan de ti. 
%br
%br
="Tu nombre de usuario es: #{@user.username}"
%br
="Tu contraseña es: #{@password}"
%br
%br
Para saber que piensan de ti comparte ese enlace con tus amigos:
%br
=@url
%br
%br
¡Mucha suerte!
%br
5palabritas.com