#loginout
  #text_links
    -if user_signed_in?
      !=t(".hola_username", :link => link_to(current_user.username, show_user_path(current_user.username)))
      !&nbsp;&nbsp;&nbsp;

      =link_to t(".home"), user_root_path
      \/

    -if user_signed_in?
      = link_to(t(".answers"), user_root_path)
      \/
      = link_to(t(".settings"), edit_user_path(@user))
      \/    
      = link_to(t(".close_session"), destroy_user_session_path)

    -else
      =link_to t(".login"), new_user_session_path

  -if !user_signed_in?
    =link_to image_tag("btn_registrate.png"), new_user_registration_path, :style => "float: left;"
  
.clear