.word_set
  =render_avatar(word_set.sender, "thumb")
  .words
    %p.who!="<b>#{set_sender_name(word_set)}</b> dijo que eres:"
    %p!=set_words(word_set)
    %p.time_ago="hace " + time_ago_in_words(word_set.created_at)
    
  .actions
    = link_to(image_tag("btn_reply.jpg"), "#", :class => "btn_leave_reply") if current_user
    = button_to("", user_word_set_path(@user, word_set), :confirm => "¿Estas seguro?", :method => :delete) if current_user && current_user == word_set.receiver
  .clear
  
  .word_set_comments{:class => (word_set.comments.any?  ? nil : "hidden_content")}
    =render :partial => "word_set/comment", :collection => word_set.comments, :locals => {:word_set => word_set}

  .word_set_comment_form.hidden_content
    -if current_user
      -form_for [@user, word_set], :html => {:id => "word_set_reply_form"}, :method => :post do |f|
        =f.text_area :reply, :class => "reply_text_field"
        =submit_tag "Enviar comentario" , :id => "submit_word_form"
  
.divider{:class => ((word_set_counter+1) == total_count ? "last" : nil)} &nbsp;