#dashboard
  %h1.green Comparte este enlace con tus amigos para que te respondan
  
  =link_to "Compartir en facebook", "http://www.facebook.com/sharer.php?u=" + HOST + current_user.username + "&t=Describe #{current_user.username}", :class => "fb_share_link", :onlick => "return fbs_click()", :rel => "nofollow"

  =text_field_tag "username", HOST + current_user.username, :readonly => true

  %br
  %div{:style => "border-bottom:1px solid #CCCCCC;"}
  %a#youranswers.selected_tab{:href => "#", :onclick => "select_answers()"} Tus respuestas


%br
#words_said
  -current_user.word_sets.reverse.each do |set|
    =render :partial => "words/word_set_for_dashboard", :locals => {:set => set}




-content_for :javascript do
  :javascript
    $("#username").click(function(event) {
      $(this).select();
    });


