- content_for(:title, t("title_user_dashboard") )

#space_to_header &nbsp;
.grid_24.alpha.omega{:style => "width: 960px"}
  !=render_flash_in_section_head
  #top_section.fixpng
    .content
      #share_link_field
        %p#share_link Comparte esta enlace con tus amigos y sabrás que opinan de ti:
        =image_tag "arrow_left.gif", :id => "arrow_left"
        =text_field_tag "username", HOST + current_user.username, :readonly => true
        =link_to t(".share_in_facebook"), "#", :name => "fb_share", :onclick => "fbshare('#{HOST+current_user.username}', '#{fb_text}'); return false;", :id => "btn_share_on_facebook", :class => "sth_with_facebook"

      #avatar=link_to render_avatar(current_user), edit_user_path(current_user)
      .clear

  #main_section
    .content
      #main_content
        -if current_user.word_sets.any?
          %a#youranswers.tab.selected=t(".your_answers")+":"
          #word_sets
            -current_user.word_sets.reverse.each do |set|
              =render :partial => "words/word_set_for_dashboard", :locals => {:set => set}
        -else
          %span.no_words No hay palabritas aún para ti, comparte tu enlace
          %span.no_words y averiguarás lo que tus amigos piensan realmente de ti.
          %br
          %br          
          %span.comparte Puedes compartir tu enlace
          %ul
            %li.sth_with_facebook{:onclick => "fbshare('#{HOST+current_user.username}', '#{fb_text}'); return false;"} en facebook
            %li en messenger
            %li o por email
          
      #sidebar
        =image_tag "tus_palabritas_top.gif"
        #top_words
          =render :partial => "received_words", :locals => {:user => current_user}
      .clear
  #bottom_section &nbsp;

-content_for :javascript do
  :javascript
    $("#username, #arrow_left").click(function(event) {
      $(this).select();
    });
    