<p>Hola <%= @resource.username %>!</p>

<p>Si haces click en esa enlace puedes cambiar tu contraseña</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Tu contraseña no se cambia hasta que haces click en la enlace arriba.</p>
